[Unit]
Description=MEX Middleware
Wants=network-online.target
After=network-online.target
 
[Service]
ExecStart=/home/jstec2/bin/mex_loadcell -c /home/jstec2/bin/conf.json
WorkingDirectory=/home/jstec2/bin/
 
[Install]
WantedBy=default.target