
<div class="card card-outline card-navy shadow">
  <div class="card-header">
    <h3 class="card-title">Data View</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" id="btn_chart_reload"><i class="fas fa-sync"></i></button>
      <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
    </div>
  </div>
    
  <div class="card-body font-weight-lighter">
    <!-- <div id="main" style="width: 100%;height:400px;"></div> -->
    

      <div class="position-relative mb-4">
        <div id="main" style="width: 100%;height:450px;"></div>
      </div>

      
  </div>
</div>

<script type="text/javascript">


  // Initialize the echarts instance based on the prepared dom
  var data_chart = echarts.init(document.getElementById('main'));

  // Specify the configuration items and data for the chart
  var option = {
    title: {
      text: '{{menu_ko.chart_title}}'
    },

    legend: {
    left: 'center'
  },

    toolbox:{
      show:true, 
      feature:{
        dataView: { readOnly: true },
      }
    },

    tooltip: {
      trigger: 'axis'
    },
  
    xAxis: {
      type: 'category',
      boundaryGap: false,
      data: []
    },
  
    yAxis: [
      {
        type: 'value',
        name:"temperature",
        axisLabel:{formatter:'{value}℃'},
        boundaryGap: [0, '100%']
      },
      {
        type: 'value',
        name:"rpm",
        axisLabel:{formatter:'{value} rpm/s'},
        boundaryGap: [0, '100%']
      },
      {
        type: 'value',
        name:"load",
        axisLabel:{formatter:'{value} kgf'},
        boundaryGap: [0, '100%']
      }
    ],

    grid: {
    left: '0%',
    right: '0%',
    bottom: '3%',
    containLabel: true
  },
    
    series: []
};

data_chart.setOption(option);

/* sample data */
function sample_series(){
  result = {};
  result["data"]["datetime"] = ['2020-3-4T11:11:11Z','2020-3-4T11:11:11Z','2020-3-4T11:11:11Z'];
  result["data"]["load"]=[1,2,3];
  result["data"]["temperature_1"]=[3,3,3];
  result["data"]["temperature_2"]=[4,4,4];
  result["data"]["temperature_3"]=[5,5,5];
  result["data"]["rpm"]=[6,6,6];
  //option.xAxis.data = result.data.datetime;
  option.series = [
      {
        name: "load",
        type:'line',
        data: result.data.load
      },
      {
        name: "temperature 1",
        type:'line',
        data: result.data.temperature_1
      },
      {
        name: "temperature 2",
        type:'line',
        data: result.data.temperature_2
      },
      {
        name: "temperature 3",
        type:'line',
        data: result.data.temperature_3
      },
      {
        name: "RPM",
        type:'line',
        data: result.data.rpm
      }
    ];
    data_chart.setOption(option);
}

/* clear series data */
function clear_series(){
  var option = {series:[], xAxis:{data:[]}};
  data_chart.setOption(option);
}

/* request chart udpate with reference id */
async function request_chart_data_ref(ref_id){
  let url = "{% url 'api_query_date' 99 %}".replace('99', ref_id);
  const response = await REST_GET(url);

  if(response.ok && response.status==200){
    const result = await response.json();

    clear_series();
    option.xAxis.data = result.data.datetime;
    option.series = [
      {
        name: "load",
        type:'line',
        data: result.data.load
      },
      {
        name: "temperature 1",
        type:'line',
        data: result.data.temperature_1
      },
      {
        name: "temperature 2",
        type:'line',
        data: result.data.temperature_2
      },
      {
        name: "temperature 3",
        type:'line',
        data: result.data.temperature_3
      },
      {
        name: "RPM",
        type:'line',
        data: result.data.rpm
      }
    ];
    data_chart.setOption(option);
  }
  else if(response.status==204){
    console.log("No contents");
  }
  
}

/* data load */
async function request_chart_data(){
  const response = await REST_GET("{% url 'api_query' %}");
  if(response.ok && response.status==200){
    const result = await response.json();
    clear_series();
    option.xAxis.data = result.data.datetime;
    option.series = [
      {
        name: "load",
        type:'line',
        data: result.data.load
      },
      {
        name: "temperature 1",
        type:'line',
        data: result.data.temperature_1
      },
      {
        name: "temperature 2",
        type:'line',
        data: result.data.temperature_2
      },
      {
        name: "temperature 3",
        type:'line',
        data: result.data.temperature_3
      },
      {
        name: "RPM",
        type:'line',
        data: result.data.rpM
      }
    ];
    data_chart.setOption(option);
  }
}

/* char manually update */
document.getElementById('btn_chart_reload').addEventListener('click', function(){
  sample_series();

  // const ref_id = document.getElementById('hidden_settings_id').value;
  // if(ref_id){
  //   request_chart_data_ref(ref_id);
  // }
  // else
  //   console.log("No Setting Id");
});

/* page load */
window.addEventListener('DOMContentLoaded', function(){
  
});


</script>