
<style>
.fab {
   width: 70px;
   height: 70px;
   border-radius: 50%;
   transition: all 0.1s ease-in-out;
 
   font-size: 50px;
   color: white;
   text-align: center;
   line-height: 70px;
 
   position: fixed;
   right: 120px;
   bottom: 120px;
}
 
.fab:hover {
   transform: scale(1.05);
}

.fab:active {
   transform: translateY(4px);
}
</style>

{% load static %}

<div class="fab"><img src="{% static 'images/emg.png' %}" id="btn_emergency_stop"></div>

<script language="javascript">

   /* emergency stop request */
   async function request_emergency_stop(){
        let param = {"command":"control_emergency"};
        let response = await REST_POST("{% url 'control_emergency' %}", param);
        console.log(response);
   }

   /* emergency stop event */
   document.getElementById("btn_emergency_stop").addEventListener("click", function() {
      request_emergency_stop();
   });

</script>