{% extends "template/base.html" %} 

{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'plugins/jsgrid/jsgrid.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/jsgrid/jsgrid-theme.min.css' %}">
{% endblock %}

{% block javascript %}
<script src="{% static 'plugins/jsgrid/jsgrid.min.js' %}"></script>
<script src="{% static 'js/db.js' %}"></script>
<script src="{% static 'js/restapi.js' %}"></script>
<style>
  .content {
    padding: 15px 7px !important;
  }
  body {
    background-color: dimgrey;
  }
  </style>
{% endblock %}

{% block contents %}

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8">
        {% include 'card_program.html' %}
      </div>
      <div class="col-lg-4">
        {% include 'card_status.html' %}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        {% include 'card_chart.html' %}
      </div>
    </div>
  </div>
</div>

{% endblock %}

